{% extends 'base.html' %}
  {% block head %}
    <style>
      body {
        text-align: center;
        padding: 50px;
      }
    </style>
  {% endblock %}

  {% block content %}
    <!-- Error Handling -->
    <div class="container">
      <h1>Error!</h1>
      <h2>Something went wrong :(</h2>
      <p>
        {{error}}
      </p>
      <p>We are sorry for the inconvenience.</p>
      <button onclick="goBack()">Go back</button>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
  {% endblock %}
